@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BookSmart</h1>
    <p></p>
    <h2>A smart booking app for all your services!</h2>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Feel Safe With Easy Booking</h2>
        <p>Skip the line-ups and be safe from crowds</p>
        <p>A new booking system that alerts you about your appointments and lets your business of choice know when you will arrive.</p>
        <p>Register Today!</p>
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>